.v-image .v-responsive__content {
  justify-content: space-between !important;
  display: flex !important;
  flex-direction: column !important;
}

.orange-hover:hover{
color: #FCB74D !important;
}

.orange-hover{
color: white !important;
}

.v-application a{
color: transparent !important;
}

.fullscreen-h{
height: 100vh;
}

.fullscreen-h\.mobile{
height: 100vw;
}

.color-primary{
color: #0288D1;
}

.bold{
font-weight: bold;
}

.header {
font-weight: bold;
font-size: 48px;
}
.header\.mobile {
font-weight: bold;
font-size: 30px;
}

.body *{
font-family: sans-serif;
}
.subheader{
font-weight: 400;
color: white;
font-size: 18px;
}

.description>:nth-child(odd){
  font-weight: 400;
color: white;
font-size: 18px;
}

.subheader\.mobile{
  font-weight: 480;
  font-size: 16px;
  }

.headline {   
  border-bottom: 4px solid #FCB74D;
  margin-bottom: 1em;
}
.subheadline{
  font-size: 16px;
}
.normal-text {
  font-size: 16px;
}

.no-flex{
  display: block!important;
}

.custom-spacer{
  height: 10px!important;
  margin-top: 80px !important;
  width: 100%;
}

.row{
  margin-right: 0px!important;
  margin-left: 0px!important;
  padding-right: 0px!important;
  padding-left: 0px!important;
}

.underline-white{
  border-bottom: 1px solid white;
  border-radius: 5px;
}

.grey-shadow{
  background: rgba(58, 58, 58, 0.274)!important;
}

.grey-bg{
  background:#2f2f2f!important;
}

.word-break{
  word-break: break-word;
}

.section-title {
  font-size: 40px;
}

.w-90{
  width: 90%;
}

.w-100{
  width:100%;
}

.w-90\.mobile{
  width: 90%;
}
  
  .bg-secondary{
  background: #2b2b2b;
  }

  .bg-third{
    background: #333333;
    }
  
  .bg-transparent{
  background-color: transparent!important;
  }
  